USE [master]
GO
/****** Object:  Database [QLNongTraiTayBac]    Script Date: 12/30/2020 9:45:22 AM ******/
CREATE DATABASE [QLNongTraiTayBac]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNongTraiTayBac', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLNongTraiTayBac.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLNongTraiTayBac_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLNongTraiTayBac_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNongTraiTayBac].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNongTraiTayBac]
GO
/****** Object:  Table [dbo].[ChiTietDDH]    Script Date: 12/30/2020 9:45:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietDDH](
	[idDDH] [int] IDENTITY(1,1) NOT NULL,
	[idSP] [varchar](50) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietDDH] PRIMARY KEY CLUSTERED 
(
	[idDDH] ASC,
	[idSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 12/30/2020 9:45:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](max) NULL,
 CONSTRAINT [PK_DanhMucSP] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 12/30/2020 9:45:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[idDDH] [int] NOT NULL,
	[idKhachHang] [int] NULL,
	[NgayDatHang] [date] NULL,
	[HinhThucGiaoHang] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonDatHang] PRIMARY KEY CLUSTERED 
(
	[idDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoHang]    Script Date: 12/30/2020 9:45:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GiaoHang](
	[MaSP] [varchar](50) NOT NULL,
	[MaTinh] [int] NOT NULL,
 CONSTRAINT [PK_KhuyenMaiSanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/30/2020 9:45:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[idKH] [int] NOT NULL,
	[TenKH] [nvarchar](max) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[idKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loai]    Script Date: 12/30/2020 9:45:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](max) NULL,
	[MaDanhMuc] [int] NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NongSan]    Script Date: 12/30/2020 9:45:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NongSan](
	[idSP] [varchar](50) NOT NULL,
	[TenSP] [nvarchar](max) NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[HinhDaiDien] [nvarchar](max) NULL,
	[DSHinh] [nvarchar](max) NULL,
	[MienPhiGiaoHang] [bit] NULL,
	[NhaSanXuat] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaLoaiSP] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[idSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tinh]    Script Date: 12/30/2020 9:45:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinh](
	[MaTinh] [int] IDENTITY(1,1) NOT NULL,
	[TenTinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (1, N'Rau củ sạch')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (2, N'Thịt tuơi sạch')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (3, N'Trái cây tươi theo mùa')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
INSERT [dbo].[GiaoHang] ([MaSP], [MaTinh]) VALUES (N' rcs-caicanh ', 7)
INSERT [dbo].[GiaoHang] ([MaSP], [MaTinh]) VALUES (N' rcs-caicanh ', 10)
INSERT [dbo].[GiaoHang] ([MaSP], [MaTinh]) VALUES (N'HQ-bomocchau ', 11)
SET IDENTITY_INSERT [dbo].[Loai] ON 

INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MaDanhMuc]) VALUES (1, N'Củ quả an toàn', 1)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MaDanhMuc]) VALUES (2, N'Rau gia vị', 1)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MaDanhMuc]) VALUES (3, N'Rau ăn lá', 1)
SET IDENTITY_INSERT [dbo].[Loai] OFF
INSERT [dbo].[NongSan] ([idSP], [TenSP], [DonGia], [HinhDaiDien], [DSHinh], [MienPhiGiaoHang], [NhaSanXuat], [MoTa], [MaLoaiSP]) VALUES (N' rcs-caicanh ', N'Cải canh', CAST(32000 AS Decimal(18, 0)), N'SP7.jpg', N'SP7_1.jpg', 0, N'Tây Bắc Agri', N'Cải canh do F-FOOD cung cấp cam kết tuân thủ những nguyên tắc, trình tự, thủ  tục hướng dẫn sản xuất, thu hoạch, xử lý sau thu hoạch nhằm đảm bảo an toàn, loại bỏ hoàn toàn các mối lo về thuốc trừ sâu, thuốc kích thích tăng trưởng,...  nâng cao chất lượng sản phẩm, đảm bảo phúc lợi xã hội, sức khỏe người sản xuất và người tiêu dùng.', 1)
INSERT [dbo].[NongSan] ([idSP], [TenSP], [DonGia], [HinhDaiDien], [DSHinh], [MienPhiGiaoHang], [NhaSanXuat], [MoTa], [MaLoaiSP]) VALUES (N'HQ-honggion ', N'Hồng giòn Mộc Châu', CAST(45000 AS Decimal(18, 0)), N'SP13.jpg', N'SP13_1.jpg', 0, N'Tây Bắc Agri', N'Cây hồng giòn có tên khoa học là Diospyros. Quả hồng khi chín có màu vàng hoặc vàng sậm bắt mắt, trong thành phần có chứa rất nhiều vi chất mang lợi ích sức khỏe tuyệt vời đối với cơ thể và sắc đẹp của bạn.', 7)
SET IDENTITY_INSERT [dbo].[Tinh] ON 

INSERT [dbo].[Tinh] ([MaTinh], [TenTinh]) VALUES (7, N'TP Hồ Chi Minh')
INSERT [dbo].[Tinh] ([MaTinh], [TenTinh]) VALUES (8, N'Đà Nẵng')
INSERT [dbo].[Tinh] ([MaTinh], [TenTinh]) VALUES (9, N'Lào Cai')
SET IDENTITY_INSERT [dbo].[Tinh] OFF
ALTER TABLE [dbo].[ChiTietDDH]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDDH_DonDatHang] FOREIGN KEY([idDDH])
REFERENCES [dbo].[DonDatHang] ([idDDH])
GO
ALTER TABLE [dbo].[ChiTietDDH] CHECK CONSTRAINT [FK_ChiTietDDH_DonDatHang]
GO
ALTER TABLE [dbo].[ChiTietDDH]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDDH_NongSan] FOREIGN KEY([idSP])
REFERENCES [dbo].[NongSan] ([idSP])
GO
ALTER TABLE [dbo].[ChiTietDDH] CHECK CONSTRAINT [FK_ChiTietDDH_NongSan]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_KhachHang] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([idKH])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_KhachHang]
GO
ALTER TABLE [dbo].[GiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_GiaoHang_NongSan] FOREIGN KEY([MaSP])
REFERENCES [dbo].[NongSan] ([idSP])
GO
ALTER TABLE [dbo].[GiaoHang] CHECK CONSTRAINT [FK_GiaoHang_NongSan]
GO
ALTER TABLE [dbo].[GiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_GiaoHang_Tinh] FOREIGN KEY([MaTinh])
REFERENCES [dbo].[Tinh] ([MaTinh])
GO
ALTER TABLE [dbo].[GiaoHang] CHECK CONSTRAINT [FK_GiaoHang_Tinh]
GO
ALTER TABLE [dbo].[Loai]  WITH CHECK ADD  CONSTRAINT [FK_LoaiSP_DanhMucSP] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[Loai] CHECK CONSTRAINT [FK_LoaiSP_DanhMucSP]
GO
ALTER TABLE [dbo].[NongSan]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSP] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[NongSan] CHECK CONSTRAINT [FK_SanPham_LoaiSP]
GO
USE [master]
GO
