
@{
    ViewBag.Title = "SearchForm";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using KTCK.Models;

<form action="/Home/Search" method="get" class="p-4 shadow bg-white rounded">

    <h4 class="fw-bold mb-3">Tìm kiếm:</h4>

    <label class="fw-bold">Tìm kiếm:</label>
    <input type="text" name="keyword" class="form-control mb-3"
           placeholder="Cà chua, bơ, cải xanh..." />

    <label class="fw-bold">Loại:</label>
    <select name="maloai" class="form-select mb-3">
        <option value="">-- Chọn loại sản phẩm --</option>
        @foreach (var item in ViewBag.Loai)
        {
            <option value="@item.MaLoai">@item.TenLoai</option>
        }
    </select>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="timMoTa" value="true" />
        <label class="form-check-label fw-bold">
            Tìm trong phần mô tả sản phẩm
        </label>
    </div>

    <button type="submit" class="btn btn-success px-4">TÌM KIẾM</button>
</form>