@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@model List<KTCK.Models.GioHang>

<h2 class="text-success">XÁC NHẬN ĐẶT HÀNG</h2>

@if (Session["kh"] == null)
{
    <h4 class="text-danger">Bạn cần đăng nhập để đặt hàng!</h4>
    <a href="/Home/DangNhap" class="btn btn-primary">Đăng nhập</a>
    return;
}

@{
    var kh = Session["kh"] as KTCK.Models.KhachHang;
}

<div class="card p-4" style="width:600px">
    <h4>Thông tin khách hàng</h4>

    <p><b>Khách hàng:</b> @kh.TenKH</p>
    <p><b>Điện thoại:</b> @kh.DienThoai</p>

    <form method="post" action="/Home/LuuDonHang">

        <label>Cách thức nhận hàng:</label>
        <select name="HinhThucGiao" class="form-control mb-2">
            <option>Nhận tại siêu thị</option>
            <option>Giao tận nơi</option>
        </select>

        <label>Yêu cầu khác:</label>
        <input name="GhiChu" class="form-control mb-3" />

        <button class="btn btn-success">Đặt hàng</button>
    </form>
</div>
